* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;

  @media screen and (min-width: map-get($breakpoints, desktop)) {
    font-size: 32px;
    line-height: 32px;
  }
}

h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;

  @media screen and (min-width: map-get($breakpoints, desktop)) {
    font-size: 18px;
    line-height: 18px;
  }
}

body {
  font-weight: medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -1%;

  @media screen and (min-width: map-get($breakpoints, desktop)) {
    font-size: 16px;
    line-height: 16px;
  }
}

button {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -1%;
}

a {
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -1%;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    font-size: 16px;
    line-height: 160%;
  }
}
